@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  color: white;
  padding: 20px 26px;
  background-color: darkslateblue;
  font-family: 'poppins';
}

.button-con
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button
{
  border: 1px solid gray;
  padding: 20px 56px;
  border-radius: 30px;
  color: gray;
}

.fluid-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  /* py-5 equivalent */
}

.fluid-container img
{
  border-radius: 15px;
}

/* For medium screens and up */
@media (min-width: 768px) {
  .fluid-container {
    padding-left: 6rem;
    /* ~md:px-6 equivalent */
    padding-right: 6rem;
  }
}

/* For 2xl screens and up */
@media (min-width: 1536px) {
  .fluid-container {
    padding-left: 16rem;
    /* 2xl:~px-52 equivalent */
    padding-right: 16rem;
  }
}